<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Anime Enjoyers</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>

    <style>
        .base-style { 
            background-color: blueviolet;
            color: white;
        }
        .bg-dark{
		    background-color: black;
	    }
    </style>
<body class="d-flex flex-column min-vh-100 bg-dark">

<nav class="navbar navbar-expand-lg base-style navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Anime Enjoyers</a>
        <img src="{{url_for('static', filename='img/eyes.png')}}" style="width: 120px"></img>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link">Hello, {{user}}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="about_us" class="nav-link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact" class="nav-link">Request your anime</a>
                    </li>


                    {% if user %}
                    <li class="nav-item">
                        <a href="logout" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="login" class="nav-link">Login</a>
                    </li>
                    {% endif %}



                    <li class="nav-item">
                        <a href="register" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>


{% block content %}
{% endblock %}


<footer class="w-100 base-style mt-auto" style="height: 55px">
  <p class="text-center pt-3">Anime Enjoyers 2022 &copy; All rights reserved</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
crossorigin="anonymous"></script>
</body>
</html>